/* TodoList.css */
body {
  background-color: rgb(52, 48, 48);
  margin: 0;
  padding: 0;
}

.design-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%; /* Set the container width to 100% */
  max-width: 600px;
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(174, 161, 161, 0.1);
  margin: 0 auto; /* Center the container horizontally */
  box-sizing: border-box; /* Ensure padding is included in width */
  border-radius: 10px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid #007bff;
  outline: none;
}

input[type="text"]:focus {
  border-color: #0056b3;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

li:hover {
  transform: translateY(-2px);
}

li button {
  background-color: #ff4500;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

li button:hover {
  background-color: #d13d00;
  transform: scale(1.1);
}
